microservice-chart:
  namespace: "qi"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: ghcr.io/pagopa/pagopa-qi-alerts-management-function
    tag: "0.2.6"
    pullPolicy: Always
  # https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/HostController.cs
  livenessProbe:
    httpGet:
      path: /info
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /info
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
    replicas: 1 # same as HPA minReplica
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 0
        maxSurge: 1
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weuuat.qi.internal.uat.platform.pagopa.it"
    path: /pagopa-qi-alerts-management-function-service/(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: "qi-workload-identity"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "0.25"
    limits:
      memory: "512Mi"
      cpu: "0.25"
  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 10
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  envConfig:
    WEBSITE_SITE_NAME: "pagopaqialertsmanagementfunction" # required to show cloud role name in application insights
    FUNCTIONS_WORKER_RUNTIME: "java"
    ASPNETCORE_URLS: "http://*:8080"
  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'ai-u-connection-string'
    QI_ALERTS_TX_EVENTHUB_CONN_STRING: 'ehub-u-tx-qi-alert-connection-string'
  keyvault:
    name: "pagopa-u-qi-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  canaryDelivery:
    create: false
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
